{% set component = frctl.components.find('@' + request.params.component) -%}
{% set tenants = frctl.docs.collections() %}
{% if tenants.size %}
  {% set tenant = tenants.findCollection('path', request.params.tenant) %}
{% else %}
  {% set tenant = {name: null} %}
{% endif %}
{% if request.params.preview %}
  {% if frctl.components.find('@' + request.params.preview) %}
    {% set preview = '@' + request.params.preview %}
  {% endif %}
{% else %}
  {% set preview = true %}
{% endif %}

{% if component and tenant and preview %}
  {% set context = component.getResolvedContext() | async(true) %}
  {% if tenant.name and component.tenantContext[tenant.name] %}
    {% set context = utils.mergeProp(component.tenantContext[tenant.name], context) %}
  {% endif %}

  {% set rendered = component.render(context, renderEnv, { preview: preview, collate: false }) | async(true) %}

  {% if rendered | isError -%}
    {% set error = rendered %}
    {% include "_error.njk" %}
  {%- else -%}
    {{ rendered }}
  {%- endif %}
{% endif %}
