@font-face {
  font-family: 'Roboto Optimized';
  font-weight: normal;
  src: url('../fonts/roboto-optimized.woff2') format('woff2'), url('../fonts/roboto-optimized.woff') format('woff');
  unicode-range: U+20-U+7e, U+a2-U+a3, U+a5, U+a8-U+a9, U+ab, U+ae, U+b4, U+b8, U+bb, U+c4, U+d6, U+dc, U+df, U+e4, U+f6, U+fc, U+2c6, U+2da, U+2dc, U+2013-U+2014, U+2018-U+201a, U+201c-U+201e, U+2026, U+2039-U+203a, U+20ac, U+2122;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url('../fonts/roboto-light.woff2') format('woff2'), url('../fonts/roboto-light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  src: url('../fonts/roboto-regular.woff2') format('woff2'), url('../fonts/roboto-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: url('../fonts/roboto-bold.woff2') format('woff2'), url('../fonts/roboto-bold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/roboto-italic.woff2') format('woff2'), url('../fonts/roboto-italic.woff') format('woff');
}
