@mixin breadcrumb-svg($color: $color-dark-60) {
  background-image: zb-svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path fill="' + $color + '" d="M86 50L33.768 0 15 17.968 48.464 50 15 82.032 33.768 100"/></svg>');
}

.breadcrumb {
  padding-top: 0.5rem;
}

.breadcrumb__list {
  @include zb-list-reset();

  font-size: 0;
}

.breadcrumb__item {
  @include breadcrumb-svg();

  background-position: right center;
  background-repeat: no-repeat;
  background-size: 0.8rem 0.8rem;
  color: $color-dark-60;
  display: inline-block;
  font-size: $font-size-small;
  line-height: 1.2;
  margin-right: 0.8rem;
  padding-right: 1.6rem;

  &:last-child {
    background: none;
    color: $color-dark;
    margin-right: 0;
    padding-right: 0;
  }
}

.breadcrumb__link {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
