@mixin breadcrumb-svg($color: $color-dark-60) {
  background-image: zb-svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><path fill="' + $color + '" d="M170 100L67.0077519 200 30 164.063158 95.9844961 100 30 35.9368421 67.0077519 0z"/></svg>');
}

.breadcrumb {
  padding-top: 0.5rem;
}

.breadcrumb__list {
  @include zb-list-reset();
}

.breadcrumb__item {
  @include breadcrumb-svg();

  background-position: calc(100% - 5px) 0.2rem;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  display: inline;
  font-size: $font-size-small;
  padding-right: 1.9rem;

  &:last-child {
    padding-right: 0;
    background: none;
  }
}

.breadcrumb__link {
  @include zb-link($color-dark-60, $color-dark-80);

  &[aria-current='true'] {
    @include zb-link($color-dark, $color-dark);
    text-decoration: underline;
  }
}
