.handle {
  background-color: #fff;
  font-family: 'SF Mono', 'Monaco', 'Inconsolata', 'Fira Mono', 'Droid Sans Mono', 'Source Code Pro', monospace;
  font-size: 1.3rem;
  line-height: 1;
  padding: 0.5rem 0.75rem;
  user-select: all;
}

.handle--large {
  font-size: 2rem;
}
