.main {
  display: flex;
  margin-top: 3rem;
}

.main__sidebar {
  border-right: 1px solid $color-border;
  max-width: 30rem;
  min-width: 23rem;
  padding: 0 3rem 0 2rem;
  width: 100%;
}

.main__sidebar-item,
.main__content-item {
  margin-bottom: 3rem;
}

.main__content-item--border-bottom {
  border-bottom: 1px solid $color-border;
  padding-bottom: 3rem;
}

.main__content {
  padding: 0 3rem;
  width: 100%;
}

.main__intro {
  margin-top: 1rem;
}
