.status {
  color: $color-dark-80;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1;
}

.status--labelled {
  background-color: rgba(#fff, 0.75);
  padding: 0.5rem 1rem 0.6rem;
}

.status__dots {
  display: inline-block;
}

.status__dot {
  border-radius: 50%;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.status__tag {
  margin-left: 0.25rem;
}
