.text {
  line-height: 1.5;

  @include mq($from: m) {
    font-size: 1.6rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul,
  blockquote,
  pre {
    margin-bottom: 1rem;
    max-width: 60rem;
  }

  h1,
  h2 {
    hyphens: manual;
    line-height: 1.325;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }

  h3,
  h4,
  h5,
  h6 {
    hyphens: manual;
    line-height: 1.325;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
  }

  ul,
  ol {
    padding: 0;
    padding-left: 2rem;
  }

  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-top: 1rem;
  }

  ul li,
  ol li {
    list-style-type: square;
    margin-bottom: 0.5rem;
    position: relative;
  }

  ol li {
    counter-increment: step-counter;
    list-style-type: decimal;
  }

  ul + p,
  ol + p {
    margin-top: 1.5rem;
  }

  abbr,
  acronym {
    cursor: help;
  }

  hr {
    border: 0;
    border-top: 1px solid #dfe4ea;
    display: block;
    margin-bottom: 4rem;
    margin-top: 4rem;
    width: 100%;
  }

  a {
    @include zb-link($zb-link-accented-color, underline, $zb-link-accented-hover-color);
  }

  h1 {
    font-size: 2.4rem;
    font-weight: $font-weight-bold;

    @include mq($from: m) {
      font-size: 4rem;
    }
  }

  h2 {
    font-size: 2rem;
    font-weight: $font-weight-bold;

    @include mq($from: m) {
      font-size: 2.4rem;
    }
  }

  h3 {
    font-size: 1.8rem;
    font-weight: $font-weight-normal;

    @include mq($from: m) {
      font-size: 2rem;
    }
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.text--large {
  font-size: 1.6rem;

  @include mq($from: m) {
    font-size: 2.2rem;
  }
}
