.variant__headline {
  margin-bottom: 1.5rem;
  position: relative;
}

.variant__text {
  margin-bottom: 2rem;
}

.variant__hash-link {
  @include zb-link($color-dark-80, none, $color-dark);

  font-weight: normal;
  position: absolute;
  transform: translate(-1.5rem, 0);

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.variant__box {
  border: 1px solid $color-border;
}

.variant__box + .variant__box {
  border-top: 0;
}

.variant__tabs {
  background-color: #eff1f4;
  display: flex;
  height: 3rem;
}

.variant__tab {
  align-items: center;
  border-right: 1px solid #dfe4ea;
  color: $color-dark-60;
  display: flex;
  font-size: $font-size-small;
  line-height: 1;
  padding: 0 1rem;

  *:not(:last-child) {
    margin-right: 0.7rem;
  }

  &:hover,
  &:focus {
    color: $color-dark;
  }
}

.variant__tab--active {
  background-color: #dfe4ea;
  color: $color-dark;
}

.variant__tab-text {
  text-transform: uppercase;
}

.variant__tab-link {
  @mixin external-svg($color: $color-dark) {
    background-image: zb-svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><path fill="' + $color + '" d="M177.777778,13 L22.2222222,13 C9.88888889,13 0,22.84375 0,34.875 L0,166.125 C0,178.15625 9.88888889,188 22.2222222,188 L66.6666667,188 L66.6666667,166.125 L22.2222222,166.125 L22.2222222,56.75 L177.777778,56.75 L177.777778,166.125 L133.333333,166.125 L133.333333,188 L177.777778,188 C190,188 200,178.15625 200,166.125 L200,34.875 C200,22.84375 190.111111,13 177.777778,13 Z M100,78.625 L55.5555556,122.375 L88.8888889,122.375 L88.8888889,188 L111.111111,188 L111.111111,122.375 L144.444444,122.375 L100,78.625 Z"/></svg>');
  }

  @include external-svg($color-dark-60);

  background-position: 0 -1px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  height: 15px;
  width: 16px;

  &:hover,
  &:focus {
    @include external-svg($color-dark-60);
  }
}

.variant__iframe-container {
  height: 100%;
  min-height: 20rem;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  resize: both;
  width: 100%;
}

.variant__frame {
  background-color: rgba(#fff, 0.3);
}

.variant__iframe {
  background-color: #fff;
}

.variant__iframe {
  border: 0;
  bottom: 1.5rem;
  height: calc(100% - 1.5rem);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.variant__code-pre[class*='language-'] {
  margin: 0;
}
