{% extends "layouts/two-columns.njk" %}
{% import "macros/navigation.njk" as navigation %}
{% import "macros/breadcrumb-item.njk" as breadcrumb %}
{% import "macros/status.njk" as status %}

{% block breadcrumb %}
  {{ breadcrumb.iterator(component) }}
{% endblock %}

{% block main %}
  <div class="main__content-item main__content-item--border-bottom">
    <div class="main__headline">
      <h2 class="headline headline--1">{{ component.title }} <span class="handle handle--large">@{{ component.handle }}</span></h2>
    </div>

    {% if component.status %}
      <div class="main__status">
        {{ status.labelled(component.status) }}
      </div>
    {% endif %}

    {% if component.notes %}
      <div class="main__intro">
        <div class="text text--large">
          {{ component.notes | markdown | linkRefs }}
        </div>
      </div>
    {% endif %}

    {% if component.variants and component.variants().size > 1 %}
      <div class="main__variants">
        <h2 class="headline headline--variant-index">Variants</h2>
        <ul class="main__variants-index">
          {% for variant in component.variants().items() %}
            {% if not tenants.size or tenantHelper.includes(variant, request.params.tenant) %}
              <li>
                {{ status.unlabelled(variant.status) }}
                <a class="main__variants-link" href="#{{ variant.handle }}">
                  {{ variant.label }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>

  {% if not component.isCollated or component.isVariant or component.variants().size == 1 %}
    {% asyncAll template in ["preview-code"] %}
      <div class="main__content-item">
        {% set entity = component %}
        {% include "partials/" + template + ".njk" %}
      </div>
    {% endall %}
  {% else %}
    {% for variant in component.variants().items() %}
      {% if not tenants.size or tenantHelper.includes(variant, request.params.tenant) %}
        <div class="main__content-item{% if not loop.last %} main__content-item--border-bottom{% endif %}">
          <div class="variant" id="{{ variant.handle }}">
            <div class="variant__headline">
              <h3 class="headline headline--variant"><a class="variant__hash-link" href="#{{ variant.handle }}" aria-hidden="true">#</a>{{ status.unlabelled(variant.status) }}{{ variant.label }} <span class="handle">{% if variant.isDefault and variant.name == 'default' %}@{{ component.handle }}{% else %}@{{ variant.handle }}{% endif %}</span></h3>
            </div>

            {% if variant._notes %}
              <div class="variant__text">
                <div class="text">
                  {{ variant._notes | markdown | linkRefs }}
                </div>
              </div>
            {% endif %}

            {% asyncAll template in ["preview-code"] %}
              {% set entity = variant %}
              {% include "partials/" + template + ".njk" %}
            {% endall %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
